@import url("../fonts.css");

.pane {
	-fx-background-image: url("../img/background.png");
	-fx-background-size: 100%;
	-fx-background-repeat: stretch;
}

.button {
	-fx-padding: 0;
	-fx-margin: 0;
	-fx-background-color: #101010;
	-fx-text-fill: white;
	-fx-font-size: 30;
	-fx-font-family: 'Quicksand Book';
	-fx-opacity: 80%;
	-fx-border-width: 1px;
	-fx-border-color: #cecece;
	-fx-border-style: solid;
}

.button hover{
	-fx-background-color: #000000;
	-fx-opacity: 90%;
	-fx-cursor: hand;
}